<div class="dashboard-container">
  <div class="dashboard-card lucro">
    <div class="dashboard-header">
      <mat-icon>trending_up</mat-icon>
      <span>Lucro Total</span>
    </div>
    <div class="dashboard-value">R$ {{ lucroTotal | number: '1.2-2' }}</div>
  </div>

  <div class="dashboard-card vendas">
    <div class="dashboard-header">
      <mat-icon>shopping_cart</mat-icon>
      <span>Vendas na Semana</span>
    </div>
    <div class="dashboard-value">{{ vendasSemana }}</div>
  </div>
</div>
