.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.full-width {
  width: 100%;
}

.error {
  color: rgb(0, 0, 0);
  margin-top: 10px;
}
