.venda-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}
