.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #FAF1E4;
    padding: 10px 20px;
    width: 100%;
    border-top: 1px solid #E0C9A6;
}

.footer > span {
    font-size: 0.95rem;
    font-weight: 300;
    color: #8B5E3C;
}
