<div class="product-crud-container">
  <button mat-raised-button (click)="navigateToProductCreate()" color="primary">
    Novo Produto
  </button>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Buscar produto</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterProduct()"
      placeholder="Digite o nome do produto"
      class="pesquisa"
    />
  </mat-form-field>

  <app-product-read [products]="filteredProducts"></app-product-read>
</div>
