<div class="cliente-crud-container">
  <!-- Botão para Criar Novo Cliente -->
  <button mat-raised-button color="primary" (click)="navigateToClienteCreate()">
    Novo Cliente
  </button>

  <!-- Barra de Pesquisa -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Buscar Cliente</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterCliente()"
      placeholder="Digite o nome do cliente"
      class="pesquisa"
    />
  </mat-form-field>

  <!-- Tabela de Clientes (Passando os Clientes Filtrados) -->
  <app-cliente-read [clientes]="filteredClientes"></app-cliente-read>
</div>
